@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container-custom {
    width: min(90%, 40rem);
    margin-inline: auto;
  }

  .container-custom-xs {
    width: min(90%, 30rem);
    margin-inline: auto;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}